<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Paramètre </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formController" (ngSubmit)="submitForm()">
    <ion-item lines="full" class="ion-margin-vertical">
      <ion-label>total Zones :</ion-label>

      <ion-item>
        <ion-input type="text" formControlName="totalZones"></ion-input>
      </ion-item>
    </ion-item>

    <ion-item lines="full" class="ion-margin-vertical">
      <ion-label>Quand changer de zone :</ion-label>
      <ion-item>
        <ion-input type="text" formControlName="zoneChanges"></ion-input>
      </ion-item>
    </ion-item>

    <ion-item lines="full" class="ion-margin-vertical">
      <ion-label>Pour qui ? :</ion-label>
      <ion-item>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
    </ion-item>

    <ion-button type="submit" color="primary" (click)="savePreferences()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Sauvegarder vos préférences
    </ion-button>
  </form>
</ion-content>
